@model InFornoPizzeria.Models.Utenti

@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h2>Benvenuto, effettua l'accesso per accedere ai servizi</h2>

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Username)
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
        <br>
        <br>
        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
        <br>
        <br>
        <button class="btn btn-primary">Login</button>
    }
</div>

