@model InFornoPizzeria.Models.Utenti
@{
    ViewBag.Title = "Registrati";
}
<div class="text-center">
    <h2>Benvenuto, registrati qui</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        @Html.LabelFor(model => model.Username)
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
        <br>
        <br>
        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
        <br>
        <br>
        @Html.HiddenFor(model => model.Role, new { Value = "User" })
        <br>
        <br>
        <button class="btn btn-primary">Registrati</button>
    }
</div>

