
@{
    ViewBag.Title = "RiepilogoOrdine";
    decimal totale = 0;
    var carrello = Session["Carrello"] as List<InFornoPizzeria.Models.Carrello>;

}

<h2 class="display-5 fw-bold">Riepilogo Ordine</h2>

@if (Session["Carrello"] != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Foto</th>
                <th>Prezzo</th>
                <th>Quantità</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var articolo in Session["Carrello"] as List<InFornoPizzeria.Models.Carrello>)
            {
                <tr>
                    <td>@articolo.Nome</td>
                    <td><img src="@articolo.Foto" alt="Foto articolo" style="max-width: 100px;" /></td>
                    <td>@articolo.PrezzoVendita &euro;</td>
                    <td>@articolo.Quantita</td>
                </tr>
                totale += articolo.PrezzoVendita;
            }
            @{
                Session["Totale"] = totale; //salva il totale nella session per passarlo agli ordini
            }
        </tbody>
    </table>
    <p class="fw-bold fs-4">Importo totale: @totale &euro;</p>


    using (Html.BeginForm("ConfermaOrdine", "Home"))
    {
        @Html.AntiForgeryToken();
        <label for="indirizzo">Indirizzo: </label>
        <br>
        <input type="text" name="indirizzo" id="indirizzo" required />
        <br>
        <br>
        <label for="noteCliente">Note Aggiuntive: </label>
        <br>
        <input type="text" name="noteCliente" id="noteCliente" />
        <br>
        <br>
        <button type="submit" class="btn">Concludi ordine</button>
    }
}
else
{
    <p>Il carrello è vuoto.</p>
}


